.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
  }
   
  .about-img img {
    width: 70%;
    border-radius: 0.5rem;
  }
  .about-text p {
    font-size: var(--p-font);
    font-weight: 400;
    text-align: justify;
  }
  .information {
    margin: 1rem 0 1.4rem;
  }
  .information .info-box {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
  }
  .information .info-box .bx {
    font-size: 22px;
  }
  .information .info-box span {
    font-weight: 400;
    margin-left: 1rem;
  }